<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid"> <!--  dh elly by3ml el grid -->
        <div class="row">
          <div *ngFor="let product of products " class="col-md-3">
              <div class="product-box" >

                <a routerLink="/product/{{product.id}}">
                    <img src="{{product.imageUrl}}" alt="ahh">
                </a>
                <a routerLink="/product/{{product.id}}">
                <h1>{{product.name}}</h1>
                </a>
                <p>{{product.unitPrice | currency: 'USD'}}</p>
                <a href="#" class="primary-button">add to cart</a>
              </div>
          </div>
          <div *ngIf="products?.length==0" class="alert alert-warning col-md12" role="alert">
            no Products found
          </div>
        </div>


    </div>

  </div>

</div>

